<!-- <mat-form-field>
  <mat-label>Font size</mat-label>
  <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
    <mat-option value="10px">10px</mat-option>
    <mat-option value="12px">12px</mat-option>
    <mat-option value="14px">14px</mat-option>
    <mat-option value="16px">16px</mat-option>
    <mat-option value="18px">18px</mat-option>
    <mat-option value="20px">20px</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field [style.fontSize]="fontSize.value">
  <mat-label>Autosize textarea</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"></textarea>
</mat-form-field> -->

<mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text">
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" >
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="100%">asdsadasd</span>
    </mat-card-title>
    <img mat-card-image src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  </mat-card>
  <mat-card class="card-picture" >
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="100%">asdsadasd</span>
    </mat-card-title>
    <img mat-card-image src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  </mat-card>
  <mat-card class="card-picture" >
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="100%">asdsadasd</span>
    </mat-card-title>
    <img mat-card-image src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  </mat-card>
  <mat-card class="card-picture" >
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="100%">asdsadasd</span>
    </mat-card-title>
    <img mat-card-image src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  </mat-card>
  <mat-card class="card-picture" >
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="100%">asdsadasd</span>
    </mat-card-title>
    <img mat-card-image src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  </mat-card>
  <mat-card class="card-picture" >
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="100%">asdsadasd</span>
    </mat-card-title>
    <img mat-card-image src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  </mat-card>
  <mat-card class="card-picture" >
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="100%">asdsadasd</span>
    </mat-card-title>
    <img mat-card-image src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  </mat-card>

</div>

<!-- <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">
  </div>
</div> -->

<!-- <mat-toolbar>
  <mat-toolbar-row>
    <a target="_blank" href="https://material.angular.io/">Angular Material</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a target="_blank" href="https://www.npmjs.com/package/@angular/flex-layout">Flex-Layout</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a target="_blank" href="https://www.letsboot.com/">Letsboot.com</a>
  </mat-toolbar-row>
</mat-toolbar> -->
