<app-layout>

  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Book Search" [(ngModel)]="searchThis" (keyup.enter)="searchBooks()">
          <div class="btn-group mr-3">
            <button type="button" class="btn btn-outline-success" (click)="searchBooks()" [disabled]="!searchThis">Search</button>
          </div>
        </div>
        <div class="input-group search-categories mt-2" (keyup.enter)="searchBooks()">
          <div class="radio mr-3">
            <label class="clicker"><input type="radio" name="optradio" value="title" checked [(ngModel)]="searchBy.filter">Title</label>
          </div>
          <div class="radio mr-3">
            <label class="clicker"><input type="radio" name="optradio" value="author" [(ngModel)]="searchBy.filter">Author</label>
          </div>
          <div class="radio">
            <label class="clicker"><input type="radio" name="optradio" value="isbn" [(ngModel)]="searchBy.filter">ISBN</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-columns">
          <div *ngFor="let book of books" class="card bg-light mb-3">
            <div class="card-header">{{book.author}}</div>
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">ISBN : {{book.isbn}}</p>
              <p class="card-text">Status : {{book.status}}</p>
              <a class="card-link clicker center-float" (click)="open(book)">Show Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</app-layout>
