<app-layout>

  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Book Search">
          <div class="btn-group mr-3">
            <button type="button" class="btn btn-outline-success">Search</button>
          </div>
        </div>
        <div class="input-group search-categories mt-2">
          <div class="radio mr-3">
            <label><input type="radio" name="optradio" checked>Title</label>
          </div>
          <div class="radio mr-3">
            <label><input type="radio" name="optradio">Author</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio">ISBN</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-columns">

          <div class="card bg-light mb-3">
            <div class="card-header">Author</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">ISBN 9781775093305</p>
              <a href="#" class="card-link">Show Details</a>
            </div>
          </div>

          <div class="card bg-light mb-3">
            <div class="card-header">Author</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              ISBN 9781775093305
            </div>
          </div>

          <div class="card bg-light mb-3">
            <div class="card-header">Author</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              ISBN 9781775093305
            </div>
          </div>

          <div class="card bg-light mb-3">
            <div class="card-header">Author</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              ISBN 9781775093305
            </div>
          </div>

          <div class="card bg-light mb-3">
            <div class="card-header">Author</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              ISBN 9781775093305
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</app-layout>
