<div role="document">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="customTab">
        <ngb-tabset>
          <ngb-tab title="Book Details">
            <ng-template ngbTabContent>
              <div class="card bg-light mb-3">
                <div class="card-header">{{author}}
                  <div class="floting-right">
                    <span class="badge badge-pill badge-success" *ngIf="status == 'Available'">Available</span>
                    <span class="badge badge-pill badge-danger" *ngIf="status == 'Issued'">Issued</span>
                    <span class="badge badge-pill badge-info" *ngIf="status == 'Maintenance'">Maintenance</span> </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{title}}</h5>
                  <p class="card-text">ID : {{id}}</p>
                  <p class="card-text">ISBN : {{isbn}}</p>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Issue History">
            <ng-template ngbTabContent>
              <div class="card bg-light mb-3">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Reader ID</th>
                        <th scope="col">Borrowed On</th>
                        <th scope="col">Returned On</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>123</td>
                        <td>22 june 2018</td>
                        <td>28 june 2018</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

    </div>

    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div> -->

  </div>
</div>
