.issuance-bar{
  box-shadow: none;
  outline: 0;
  background: transparent;
  border-radius: 5px;
}

.table-fixed-td {
  width: 30%;
}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
