<div role="document">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="customTab">
        <ngb-tabset>
          <ngb-tab title="Book Details">
            <ng-template ngbTabContent>
              <div class="card bg-light mb-3">
                <div class="card-header">
                  <h5>{{title}}</h5>
                  <div class="floting-right">
                    <span class="badge badge-pill badge-success" *ngIf="status == 'Available'">Available</span>
                    <span class="badge badge-pill badge-danger" *ngIf="status == 'Issued'">Issued</span>
                    <span class="badge badge-pill badge-info" *ngIf="status == 'Maintenance'">Maintenance</span> </div>
                </div>
                <div class="card-body">
                  <h5 class="card-text">{{author}}</h5>
                  <p class="card-text">ID : {{id}}</p>
                  <p class="card-text">ISBN : {{isbn}}</p>

                  <div *ngIf="status == 'Available'">
                    <label for="typeahead-basic">Issue book to:</label>
                    <input id="typeahead-basic" type="text" class="form-control issuance-bar" [(ngModel)]="issueTo" [ngbTypeahead]="search">
                    <div class="row text-center justify-content-center mt-2">
                      <button type="button" class="btn btn-success" (click)="issueBook(id,issueTo)" [disabled]="!issueTo">Issue</button>
                    </div>
                  </div>

                  <div *ngIf="status == 'Issued'">
                    <div class="row text-center justify-content-center mt-2">
                      <button type="button" class="btn btn-success" (click)="returnBook(id)">Return</button>
                    </div>
                  </div>

                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Issue History">
            <ng-template ngbTabContent>
              <div class="card bg-light mb-3">
                <div class="card-body">
                  <table class="table table-fixed" *ngIf="history?.length > 0; else noHistory">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Reader Name</th>
                        <th>Borrowed On</th>
                        <th>Returned On</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let hist of history; let i = index">
                        <td scope="row">{{i+1}}</td>
                        <td class="table-fixed-td">{{hist.name}}</td>
                        <td class="table-fixed-td">{{hist.borrowedOn | date:'medium' }}</td>
                        <td class="table-fixed-td" *ngIf="hist.returnedOn">{{hist.returnedOn | date:'medium' }}</td>
                        <td class="table-fixed-td" *ngIf="!hist.returnedOn">Not Yet Returned</td>
                      </tr>
                    </tbody>
                  </table>

                  <ng-template #noHistory>
                      <div class="alert alert-info" role="alert">This book was never issued to anyone ! </div>
                  </ng-template>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

    </div>

    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div> -->

  </div>
</div>
